In [ ]:
# install pandas
!pip install pandas

In [2]:
import pandas as pd

## 06 - 01 Intro to Pandas
**Pandas** is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python.
Pandas provides high-performance, easy-to-use data structures and data analysis tools for the Python programming language. To get started with pandas, you will need to get comfortable with its two workhorse data structures: Series and DataFrame.

We use `import pandas as pd` so that we wont have to type `pandas` everytime we want to use the module, instead we can use `pd`.

A gentle reminder to use tab-completion(`<TAB>`) and `?` to explore and access the documentation for anything that you are looking for.

Example:
```ipython
In [1]: pd.<TAB>
```
or 
```ipython
In [2]: pd.__version__?
```

In [1]:
import pandas as pd

In [6]:
# read csv file with pandas
gr = pd.read_csv('grades.csv')
print gr

   name  email  quiz1  quiz2
0   NaN    NaN      8    0.0
1   NaN    NaN      4    5.0
2   NaN    NaN      2    7.5
3   NaN    NaN      2    3.5
4   NaN    NaN      8   11.5
5   NaN    NaN      4    4.5
6   NaN    NaN      4    NaN
7   NaN    NaN      8    5.5
8   NaN    NaN      7    9.0
9   NaN    NaN      2    8.5

In [7]:
type(gr)

pandas.core.frame.DataFrame

#### Given above table, how do we locate a student's grades? How do we get a full list of grades?

In [13]:
gr['quiz1'][5]

4

In [18]:
gr.loc[1,2]

4.0

#### How do we manipulate quiz scores - mean, max, min, variance?

In [25]:
gr.quiz2.var()

11.673611111111114

#### How do we append a new column of grades?

In [27]:
len(gr)

10

In [28]:
gr['zero'] = [0] * 10

In [29]:
gr['range'] = range(10)

In [30]:
gr

   name  email  quiz1  quiz2  zero  range
0   NaN    NaN      8    0.0     0      0
1   NaN    NaN      4    5.0     0      1
2   NaN    NaN      2    7.5     0      2
3   NaN    NaN      2    3.5     0      3
4   NaN    NaN      8   11.5     0      4
5   NaN    NaN      4    4.5     0      5
6   NaN    NaN      4    NaN     0      6
7   NaN    NaN      8    5.5     0      7
8   NaN    NaN      7    9.0     0      8
9   NaN    NaN      2    8.5     0      9

#### How do we calculate an overall grade for student?  
final grade = quiz1 * .2 + quiz2 * .3 + assign1 *

In [44]:
gr[['quiz1','quiz2']]

   quiz1  quiz2
0      8    0.0
1      4    5.0
2      2    7.5
3      2    3.5
4      8   11.5
5      4    4.5
6      4    NaN
7      8    5.5
8      7    9.0
9      2    8.5

In [63]:
gr['ex'] = range(10)
gr['assign1'] = range(10)

In [72]:
def final(row):
    if row.ex >= 10:
        addin = (row.quiz1*0.1+row.quiz2*0.3+row.assign1*0.6)*0.7 + row.ex*0.3
    else:
        addin = row.quiz1*0.1+row.quiz2 * 0.3+row.assign1*0.6
    
    return addin

In [70]:
gr['final'] = gr.apply(final, axis = 1)#.sort_values(ascending = False)

In [71]:
gr

   name  email  quiz1  quiz2  zero  range  final  ex  assign1
0   NaN    NaN      8    0.0     0      0    0.8   0        0
1   NaN    NaN      4    5.0     0      1    2.1   1        1
2   NaN    NaN      2    7.5     0      2    3.1   2        2
3   NaN    NaN      2    3.5     0      3    3.0   3        3
4   NaN    NaN      8   11.5     0      4    5.9   4        4
5   NaN    NaN      4    4.5     0      5    4.8   5        5
6   NaN    NaN      4    NaN     0      6    NaN   6        6
7   NaN    NaN      8    5.5     0      7    6.8   7        7
8   NaN    NaN      7    9.0     0      8    8.1   8        8
9   NaN    NaN      2    8.5     0      9    8.2   9        9

In [10]:
gr.quiz1.mean?